@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for better UI */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d1d5db; /* Gray-300 */
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f3f4f6; /* Gray-100 */
}